<div class="p-activity active page-01">
    <div class="coo"></div>
    <div class="main scaleBigger"></div>
    <div class="title leftToRight"></div>
    <div class="footer downToUp"></div>
    <div class="clicker"></div>
</div>
<div class="p-activity page-02">
    <div class="list">
        <%['我是70后','我是80后','我是90后','我是00后','我要疯抢！！！','我要看演出'].forEach(function(text,index){%>
            <div class="button upToDown" style="transition-delay: <%=200+index*50%>ms;" data-index="page-3-<%=index+1%>"><%=text%></div>
        <%})%>
    </div>
</div>
<div class="p-activity content-page page-3-1" data-target="page-3-1">
    <div class="p-content">
        <div class="p-content__title leftToRight">1、泰和坊快闪</div>
        <div class="p-content__img bigger scaleBigger">
            <img src="../image/c-3-1-01.png">
            <img src="../image/c-3-1-02.png">
        </div>
        <div class="p-content__des opacityOut" style="transition-delay: 300ms;">
            身着复古解放军军装的长泰艺术团成员，每日三次从中心舞台歌舞快闪至泰和坊，带你从2017年“穿越”回上个世纪70年代的古老时光中去。
        </div>
    </div>
    <div class="p-content">
        <div class="p-content__title leftToRight">2、重回70年代</div>
        <div class="p-content__img scaleBigger">
            <img src="../image/c-3-1-03.png">
            <img src="../image/c-3-1-04.png">
            <img src="../image/c-3-1-05.png">
        </div>
        <div class="p-content__des right opacityOut" style="transition-delay: 300ms;">
            老海报、革命标语、冰棍小摊、露天电影、儿时的游戏……泰和坊将重现70年代经典街头场景，漫步其中，仿佛置身于旧上海的石库门里弄间。
        </div>
    </div>
    <div class="back-btn yellow"></div>
</div>
<div class="p-activity content-page page-3-2" data-target="page-3-2">
    <img class="img-01 scaleBigger" src="../image/c-3-2-01.png">
    <img class="img-02 scaleBigger" style="transition-delay: 100ms;" src="../image/c-3-2-02.png">
    <img class="img-03 scaleBigger" style="transition-delay: 200ms;" src="../image/c-3-2-03.png">
    <img class="img-04 scaleBigger" style="transition-delay: 300ms;" src="../image/c-3-2-04.png">
    <div class="des downToUp" style="transition-delay: 300ms;">
        捏面人、糖画、做风筝……从小离开这些小摊的时候总是恋恋不舍，长大后再想回味却再也看不到这些民间传统技艺。长泰广场中央大街的怀旧集市，把这些民间手艺人聚在一起，为你重启儿时最经典的回忆。
    </div>
    <div class="back-btn"></div>
</div>
<div class="p-activity content-page page-3-3"  data-target="page-3-3">
    <div class="header upToDown"></div>
    <div class="title leftToRight">
        享受城市漫生活<br>爱玩会玩的90后最合适去哪儿？
    </div>
    <div class="des downToUp">
        当然是长泰酒吧CHAMTIME BOX BAR。由十几个大小不一、循环利用的集装箱改装组成的酒吧街充满了艺术个性。不管是下班小酌，还是聚会畅饮，都让你喝得尽兴，吃得过瘾！
    </div>
    <div class="transform">
        <div class="img_01 scaleBigger"></div>
        <div class="img_03 scaleBigger" style="transition-delay: 200ms"></div>
        <div class="img_02 scaleBigger" style="transition-delay: 100ms"></div>
        <div class="main"></div>
    </div>
    <div class="back-btn"></div>
</div>
<div class="p-activity content-page page-3-4" data-target="page-3-4">
    <div class="header upToDown"></div>
    <div class="title upToDown" style="transition-delay: 600ms;"></div>
    <div class="des upToDown" style="transition-delay: 900ms;">
        长泰广场演艺中心为宝宝和爸爸妈妈们准备了超多亲子互动游戏，模拟赛车、迷你高尔夫、纸飞机大赛、幸运魔环、疯狂弹珠等，小朋友和大朋友都可以畅玩其中。
    </div>
    <div class="middle scaleBigger" style="transition-delay: 900ms;"></div>
    <div class="footer downToUp"></div>
    <div class="back-btn"></div>
</div>
<div class="p-activity content-page page-3-5" data-target="page-3-5">
    <div class="transform-up">
        <div class="transform">
            <div class="up upToDown"></div>
        </div>
    </div>
    <div class="transform">
        <div class="down downToUp"></div>
    </div>
    <div class="back-btn yellow"></div>
</div>
<div class="p-activity content-page page-3-6" data-target="page-3-6">
    <div class="des opacityOut">
        <p>
            不来现场，也能享受全部的精彩。疯抢节期间，美女和帅哥主播将为你记录下每一场活动的盛况，还将为你一探人气好店，告诉你在长泰广场，买什么吃什么最实惠。观看直播，提前关注“长泰广场”微信公众号哦～
        </p>
        <p>
            另外送上所有活动及演出时间表，亲临现场，才能感受最嗨的盛夏狂欢气氛。
        </p>
    </div>
    <div class="list downToUp"></div>
    <div class="back-btn"></div>
</div>