<div class="w-friends">
    <ul class="w-friends__list">
        <li class="w-friends__item J_friends"><i class="w-friends__icon-01"></i> 朋友圈 <i class="w-friends__tips w-red-tips">1</i></li>
    </ul>
    <ul class="w-friends__list">
        <li class="w-friends__item"><i class="w-friends__icon-02"></i>扫一扫</li>
        <li class="w-friends__item"><i class="w-friends__icon-03"></i>摇一摇</li>
    </ul>
    <ul class="w-friends__list">
        <li class="w-friends__item"><i class="w-friends__icon-04"></i>附近的人</li>
    </ul>
    <ul class="w-friends__list">
        <li class="w-friends__item"><i class="w-friends__icon-05"></i>购物</li>
        <li class="w-friends__item"><i class="w-friends__icon-06"></i>游戏</li>
    </ul>
    <ul class="w-friends__list">
        <li class="w-friends__item"><i class="w-friends__icon-07"></i>小程序</li>
    </ul>
</div>
<div class="w-menu">
    <div class="w-menu__item">
        <i class="w-menu__icon-01"></i>
        <div class="w-menu__name">微信</div>
    </div>
    <div class="w-menu__item">
        <i class="w-menu__icon-03"></i>
        <div class="w-menu__name">通讯录</div>
    </div>
    <div class="w-menu__item">
        <i class="w-menu__icon-02">
            <i class="w-menu__tips w-red-tips">1</i>
        </i>
        <div class="w-menu__name--active">发现</div>
    </div>
    <div class="w-menu__item">
        <i class="w-menu__icon-04"></i>
        <div class="w-menu__name">我</div>
    </div>
</div>
