<div class="p-girl">
    <img src="../image/girl.jpg">
    <div class="p-girl__des">
        <p>向上滑动</p>
        <p>查看真相</p>
        <div class="p-girl__up">
            <div class="p-girl__pointer"></div>
        </div>
    </div>
</div>