<div class="w-content">
    <div class="w-content__title">大开眼界!<br/>女子在朋友圈晒自拍出新高度</div>
    <div class="w-content__info">
        <i class="w-content__tag">原创</i> 2017-06-28 长泰广场
    </div>
    <div class="w-content__art">
        <p>
            自拍党长期占领朋友圈赛自拍的情况并不少见，蛇精脸大眼、磨皮、美白让人感叹现在朋友圈里的照片都是千篇一律。但在昨日，长泰广场泰和坊内却发生了这样一件令人哭笑不得的事情，一女子身着60年代服饰自称从60年代穿越而来，这究竟是怎么一回事？
        </p>
        <img src="../image/art-1.png">
        <p>
            昨日上午11时，市民王女士向记者爆料，周末想与家人一起在长泰广场内度过，突然一阵青烟，发现一女子身着复古的服饰，一手拿着镜子，一手拿着数字，嘴里喃喃地说：“怎么自己穿越了？”
        </p>
        <p>
            王女士说，现在已经是信息发达的时代，什么新奇好玩的没看过，以前朋友圈晒自拍都看腻了，现在玩自拍，玩出了新高度，感叹：现在的年轻人真会玩~~~
        </p>
        <p>
            截至发稿前记者仍在联系这位女子，我们将持续对此事进行跟踪报道。
        </p>
    </div>
    <div class="w-content__footer">
        阅读 100000+ <i class="w-content__top"></i> 5981 <span class="w-content__right">投诉</span>
    </div>
</div>